.header-title{
  font-size:70px;
  margin:0 auto;
  text-align:center;
}
.header{
  height:110px;
  background-color:#26d0c9;
}
.main h2{
  font-size:60px
}
.copy-container h2{
	padding-left:10px
	padding-right:10px
	margin:0 auto;
  	text-align:center;
}
.contents-item1 img{
	width:630px;
	height:530px;
}
.contents-item1 P{
	padding-bottom:-50px;
}
.contents1 h3{
	font-size:30px;
}
.contents1 p{
	font-size:18px;
}
.contents1{
	padding-left:220px;
	padding-right:180px
}
.contact-form h2{
	padding-top:100px;
}
